@tailwind base;
@tailwind components;
@tailwind utilities;

.trans {
    @apply duration-300 transition-all ease-in-out;
}

/* width */
.content::-webkit-scrollbar {
    width: 0;
}

/* Track */
.content::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    display: none;

}

.transform-index{
    @apply transition-transform duration-300 ease-in;
}

.trans-0{
    @apply -translate-x-[0%];
}

.trans-1{
    @apply -translate-x-[20%];
}

.trans-2{
    @apply -translate-x-[40%];
}

.trans-3{
    @apply -translate-x-[60%];
}

.trans-4{
    @apply -translate-x-[80%];
}
